<div>
	<div class="errors" ng-if="form.$submitted">
		<p class="alert alert-danger" ng-if="form.username.$invalid && form.username.$error.required">
			Username is required
		</p>
		<p class="alert alert-danger" ng-if="form.email.$invalid && form.email.$error.required">
			Email is required
		</p>
		<p class="alert alert-danger" ng-if="form.email.$invalid && form.email.$error.email">
			Email must be valid
		</p>
		<p class="alert alert-danger" ng-if="form.firstName.$invalid && form.firstName.$error.required">
			First name is required
		</p>
		<p class="alert alert-danger" ng-if="form.lastName.$invalid && form.lastName.$error.required">
			Last name is required
		</p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group" ng-class="{'has-error' : form.$submitted && form.username.$invalid}">
				<label for="username">Username:</label>
				<input type="text" id="username" ng-model="customer.username" name="username" required class="form-control" />
			</div>
			<div class="form-group" ng-class="{'has-error' : form.$submitted && form.email.$invalid}">
				<label for="email">Email:</label>
				<input type="email" id="email" ng-model="customer.email" name="email" required class="form-control" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group" ng-class="{'has-error' : form.$submitted && form.firstName.$invalid}">
				<label for="first-name">First name:</label>
				<input type="text" id="first-name" ng-model="customer.firstName" name="firstName" required class="form-control" />
			</div>
			<div class="form-group" ng-class="{'has-error' : form.$submitted && form.lastName.$invalid}">
				<label for="last-name">Last name:</label>
				<input type="text" id="last-name" ng-model="customer.lastName" name="lastName" required class="form-control" />
			</div>
		</div>
	</div>
</div>
