@mixin move-in {
	opacity: 1;
	max-height: 4em;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0.5em;
}

@mixin move-out {
	opacity: 0;
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.document-view {
	&.ng-enter,
	&.ng-leave {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.4s ease;
	}

	&.ng-enter {
		opacity: 0;
		transform: translate3d( 0, -5%, 0 );
	}

	&.ng-enter-active {
		opacity: 1;
		transform: translate3d( 0, 0, 0 );
	}

	&.ng-leave {
		opacity: 1;
		transform: translate3d( 0, 0, 0 );
	}

	&.ng-leave-active {
		opacity: 0;
		transform: translate3d( 0, -5%, 0 );
	}
}

.main-view-container {
	position: relative;
}

ui-view,
.main-view {
	&.ng-enter,
	&.ng-leave {
		position: absolute;
		top: 0;
		left: 15px;
		right: 15px;
		transition: all 0.4s ease;
	}

	&.ng-enter {
		opacity: 0;
		transform: scale3d( 0.95, 0.95, 0.95 );
	}

	&.ng-enter-active {
		opacity: 1;
		transform: scale3d( 1, 1, 1 );
	}

	&.ng-leave {
		opacity: 1;
		transform: scale3d( 1, 1, 1 );
	}

	&.ng-leave-active {
		opacity: 0;
		transform: scale3d( 0.95, 0.95, 0.95 );
	}
}

.login-block {
	-webkit-animation: fadeInUp 1s ease;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  animation-name: fadeIn;
}
