$fa-font-path: "../assets/fonts/";
@import "bootstrap_config";
@import "bootstrap";
@import "font-awesome";
@import "animations";

/**
 * General styles.
 */
html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
}

main {
	padding-bottom: 5em;
}

/**
 * Helper styles.
 */
.actions {
	width: 24em;
}

.account-actions {
	width: 35em;

	> input {
		width: auto;
		display: inline;
	}
}

.form-title {
	padding-bottom: 1em;
}

/**
 * Document element
 */
.document-view {
	visibility: hidden;

	&.ready {
		visibility: visible;
	}
}

/**
 * Login page
 */
.login-block {
	width: 10%;
	margin: 0 auto;
	min-width: 18em;
	padding-top: 10%;
}

/**
 * Transactions table.
 */
.dataTables_filter > * {
	float: right;
}

.dataTables_paginate .pagination {
	float: right;
	margin: 0;
}
